/* ---------------------------------------------section 1---------------------------------------------- */

.aboutus-s1-parallax{
    background-image: url("../../Images/AboutUs/Slider-2\ new.jpg");
    opacity: 0.2;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.aboutus-s1-parallax-text{
    position: absolute;
    z-index: 1000;
    top: 58%;
    left: 43%;

    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

/* @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
} */

/* TAB view */
@media screen and (max-width: 763px) {
    .aboutus-s1-parallax-text{
        font-size: 28px;
        top: 50%;
        left: 40%;
    }
    .aboutus-s1-parallax{
        background-size: fill;
        background-attachment: scroll;
        height: 320px;
        width: 100%;
    }
    
}

/* MOBILE view */
@media screen and (max-width: 576px) {
    .aboutus-s1-parallax-text{
        font-size: 28px;
        top: 48%;
        left: 30%;
    }
    .aboutus-s1-parallax{
        background-size: fill !important;
        background-attachment: scroll !important;
        height: 270px !important;
        width: 100%;
    }
    
}

/* ------------------------------------section 2------------------------------------------------------- */

.aboutus-s2-container{
    padding: 75px 100px;
}

/* company profile */
.aboutus-s2-profile{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #FE873D;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 15px;
}

/* welcome */
.aboutus-s2-welcome{
    font-size: 34px;
    font-family: Helvetica, sans-serif;
    color: #243D44;
    font-weight: 700;
    padding-bottom: 15px;
}

/* paragraph */
.aboutus-s2-para{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #000000;
    line-height: 28px;
    padding-bottom: 5px;
}

/* TAB view */
@media screen and (max-width : 763px) {
    .aboutus-s2-container{
        padding: 75px 10px;
    }
    
    .aboutus-s2-welcome{
        font-size: 32px;
    }
}

/* MOBILE view */
@media screen and (max-width : 576px) {
    .aboutus-s2-container{
        padding: 75px 10px;
    }
    
    .aboutus-s2-welcome{
        font-size: 26px;
    }
}

/* ------------------------------------------section 3----------------------------------------- */

.aboutus-s3-parallax2{
    position: relative; /*It is given position relative so that the bottom, when given position aboslute the bottoms postion top is this elements top, not the overall top*/
    background-image: url("../../Images/AboutUs/progress-1.png");
    background-color: #243D44;
    opacity: 0.94;
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;

    position: absolute;
    top: 0px;
    left: 48%;
}

/* TAB view */
@media screen and (max-width: 763px) {
    .arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #ffffff;
        top: 0px;
        left: 50%;
    }
}

/* MOBILE view */
@media screen and (max-width: 576px) {
    .arrow-down {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #ffffff;
        top: 0px;
        left: 49.5%;
    }
}

/* -------------------------cards------------------ */

.aboutus-s3-container{
    padding: 75px 50px !important;
}

.aboutus-s3-card-row{
    display: flex;
    justify-content: center !important;
}

.aboutus-s3-border{
    border: 1px solid #B4B4B4;
    padding: 10px 30px;
    transition: .5 ease;
    
    &:hover{
        border: 1px solid #68B852; 
    }
}

/* TAB view */
@media screen and (max-width: 763px) {
    .aboutus-s3-border{
        display: flex;
    }

    .aboutus-s3-heading{
        text-align: start !important;
        padding: 20px 0px 0px 15px;
    }

    .aboutus-s3-para{
        text-align: start !important;
    }
}

/* MOBILE view */
@media screen and (max-width: 576px) {
    .aboutus-s3-border{
        display: block;
    }

    .aboutus-s3-heading{
        text-align: center !important;
        padding: 0px !important;
    }

    .aboutus-s3-para{
        text-align: center !important;
    }
}

.aboutus-s3-icon{
    font-size: 60px;
    color: #68B852;
    text-align: center;
    transition: .5s ease;
    margin: 40px;

    &:hover{
        transform: scale(1.3);
    }
}

.aboutus-s3-heading{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}

.aboutus-s3-para{
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    text-align: center;
    padding: 20px 15px 0px 15px;
}

/* --------------------------------section 4----------------------------------------------- */

.aboutus-s4-container{
    padding: 75px 0px !important;
    margin: 0px !important;
}

/* ----------------column 1----------------------------- */

/* image */
.aboutus-s4-img-container{
    padding: 0px !important;
}

.aboutus-s4-img{
    width: 100%;
}

/* -------------------column 2------------------------- */

.aboutus-s4-col2{
    background-color: #68B852;
    padding: 50px 75px !important;
    margin: 60px 0px 0px 0px !important;
}

.aboutus-s4-heading1{
    color: #ffffff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    padding-bottom: 30px;
}

.aboutus-s4-heading2{
    font-size: 36px;
    font-family: Helvetica, sans-serif;
    color: #243D44;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.aboutus-s4-para{
    color: #ffffff;
    font-size: 15px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    padding-bottom: 16px;
    margin-bottom: 0px;
    text-align: justify;
}

/* TAB view */
@media screen and (max-width: 763px) {
    .aboutus-s4-heading2{
        font-size: 28px;
    }
}

/* Mobile view */
@media screen and (max-width: 576px) {
    .aboutus-s4-col2{
        padding: 50px 30px !important;
    }
    
    .aboutus-s4-heading2{
        font-size: 28px;
    }
}

/* List Icon Modifiying */
.aboutus-s4-list ul li {
    color: #ffffff;
    list-style: none;
    padding-left: 30px; /* Space for the icon */ 
    position: relative;
}
  
.aboutus-s4-list ul li::before {
    content: "";
    background: url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/icons/caret-right-square.svg") no-repeat center;
    background-size: 13px 13px;
    padding-top: 25px !important;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

/* ----------------------------------------section 5------------------------------------------- */

.aboutus-counter-container{
    margin: 0 !important;
    padding: 50px 25px 75px;
    display: flex;
    justify-content: center;    
}

.aboutus-counter-box{
    margin: 20px 20px;
    padding: 20px 50px !important;
    text-transform: uppercase;
    border: 1px solid #B4B4B4;
    text-align: center;
    padding: 25px 40px;
    transition: .5s ease;

    &:hover{
        box-shadow: 2px 2px 10px rgb(140, 139, 139);
        border: none;
    }
}

.aboutus-counter-box-num{
    font-size: 69px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #68B852;
}

.aboutus-counter-box-txt{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
}